{:phoenix/nrepl-port 5656

 :log     {:phoenix/component rs-example.server.main/map->LogHandler
           :log-level :debug}

 :handler {:phoenix/component rs-example.server.main/map->WebHandler
           :log :phoenix/dep
           :render :phoenix/dep}

 :web     {:phoenix/component phoenix.modules.aleph/map->WebServer
           :handler :phoenix/dep
           :port 5000}

 :render  {:phoenix/component rs-example.server.render/map->RenderPool
           :pool-size 1
           :cache-path nil
           :render-ns "rs-example.main"}}
